.leaflet-control-layers-group-toggle{
  width: 7px;
  height: 7px;
  display:inline-block;
  cursor: pointer;
}

.leaflet-control-layers-group-toggle-expanded {
  background:url('../src/img/menu-expanded.png');
}

.leaflet-control-layers-group-toggle-collapsed {
  background:url('../src/img/menu-collapsed.png');
}

.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .1em;
  display: inline-block;
  padding-left: .2em;
  cursor: pointer;
}

.leaflet-control-layers-group {
  margin-bottom: .2em;
}

.leaflet-control-layers-group label {
  padding-left: 1em;
}

.leaflet-control-layers-selector {
  margin-top: 0;
  top: 0;
}

.leaflet-control-layers label.leaflet-control-layers-group-label-expanded {
  display: block;
}

.leaflet-control-layers  label.leaflet-control-layers-group-label-collapsed {
  display: none;
}
